<template name="menu">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">iAgents.io</a>
            </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right">
		            <li>
		                <a href="/about">About</a>
		            </li>
		            <li class="dropdown">
		                <a href="/demo" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
		                <ul class="dropdown-menu">
		                    <li>
		                        <a href="/demo/rulesengine">1. Intelligent Ecommerce Systems</a>
		                    </li>
		                    <li>
		                        <a href="/demo/clientengine">2. Personalized News Aggregators</a>
		                    </li>
		                    <li>
		                        <a href="/demo/ecom">3. Buying and selling</a>
		                    </li>
		                    <li>
		                        <a href="/demo/loans">4. Automatic Loan Processing</a>
		                    </li>
		                </ul>
		            </li>
		            {{> loginButtons }}
		        </ul>
		    </div>
		    <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</template>